.app-wrapper {
    display: grid;
    max-width: 1920px;
    margin: 0 auto;
    grid-template-areas:
    "m h"
    "m c";
    grid-template-rows: 64px 1fr;
    grid-template-columns: 240px 1fr;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #E5E5E5;
}

.menu-container {
    grid-area: m;

}