.menuBlock {
    background: #091336;
    max-width: 240px;
    min-height: 960px;
}

.logoSkilla {
    margin-top: 20px;
    margin-left: 12px;
    margin-bottom: 32px;
}

.btnBlock {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: 64px auto;
    gap: 32px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 148%;
}